<div class="we-are-vessel wf-section">
    <div class="container-27 w-container">
        <h2 class="heading">We are Vessel</h2>
        <div class="div-block-109 first">
            <div class="div-block-107"><img
                    src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5e95d34b372a48233ed329fe_team.png"
                    sizes="(max-width: 479px) 100vw, (max-width: 767px) 28vw, (max-width: 991px) 314px, 420px"
                    srcset="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5e95d34b372a48233ed329fe_team-p-500.png 500w, https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5e95d34b372a48233ed329fe_team-p-800.png 800w, https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5e95d34b372a48233ed329fe_team.png 980w"
                    alt="" class="image-37"></div>
            <div class="div-block-104 right we">
                <h4 class="heading-50 number">01</h4>
                <h3 class="heading-49">Team</h3>
                <p class="paragraph core">With full-time, part-time, and advisory roles, we are a primarily remote yet close-knit team of doers. We value accountability, action, creative thinking, and rigorous problem solving.<br></p>
            </div>
        </div>
        <div class="div-block-109">
            <div class="div-block-104 we">
                <h4 class="heading-50 number">02</h4>
                <h3 class="heading-49">Culture</h3>
                <p class="paragraph core">First and foremost, we treat each other like adults, pushing each other to grow as performers and leaders. The health tech industry is fast-paced, highly competitive, and always changing, so we expect our team members to bring a high level of accountability and autonomy to their roles. Our culture is radically open, fast-moving, supportive, and we always make sure to have fun.<br></p>
            </div>
            <div class="div-block-107 right"><img
                    src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5e97a10bee719640d7b5cf9a_Vessel%20website%20launch%20party.jpg"
                    sizes="(max-width: 479px) 100vw, (max-width: 767px) 27vw, (max-width: 991px) 314px, 420px"
                    srcset="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5e97a10bee719640d7b5cf9a_Vessel%20website%20launch%20party-p-800.jpeg 800w, https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5e97a10bee719640d7b5cf9a_Vessel%20website%20launch%20party-p-1080.jpeg 1080w, https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5e97a10bee719640d7b5cf9a_Vessel%20website%20launch%20party.jpg 1569w"
                    alt=""></div>
        </div>
    </div>
</div>

<div class="pay-it wf-section"><img
        src="https://cdn.shopify.com/s/files/1/0603/3122/9370/files/Image_17.png?v=1654546256"
        sizes="(max-width: 479px) 100vw, (max-width: 991px) 60vw, 50vw"
        srcset="https://cdn.shopify.com/s/files/1/0603/3122/9370/files/Image_17.png?v=1654546256 500w, https://cdn.shopify.com/s/files/1/0603/3122/9370/files/Image_17.png?v=1654546256 674w"
        alt="" class="image-9 vessel-plus" style="max-width: 336px;left: 55%;top: 22%;">
    <div class="green-bg give-health-pay"></div>
    <div class="container-5 w-container">
        <div class="div-block-31">
            <h2 class="heading doctor va">How we give back</h2>
            <div>
                <p class="paragraph">Every test card purchased provides nutritional support to a child in need for an
                    entire month through our partnership with Vitamin Angels. We’re proud to join them in the fight to
                    lower mortality rates and end global malnutrition.</p>
            </div>
            <div class="div-block-54 w-clearfix"><a data-w-id="9bdf64eb-4668-747b-3ecb-518e69e63825"
                    href="/vitamin-angels" class="dark-bt vit-ang w-button">Learn more</a><img
                    src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5e97a081eb4d9d965b96e58d_vit-ang_ps.png"
                    alt="" class="image-10" style="display:none;"></div>
        </div>
    </div>
</div>

<style>
    @media screen and (max-width:500px) {
        .vessel-plus {
            max-width: 136px!important;
           left: 32%!important;
        }
    }
</style>    