<div class="our-story wf-section">
    <div class="container-25 w-container">
      <div class="div-block-111">
        <img
          src="{{section.settings.image | img_url: '2048x'}}"
          srcset="https://cdn.shopify.com/s/files/1/0603/3122/9370/files/4_1024x1024.jpg?v=1643738887"
          alt="" class="image-35">
      </div>
      <div class="div-block-112">
        <h2 class="heading">{{section.settings.title}}</h2>
        <p class="paragraph">{{section.settings.text}}</p>
      </div>
    </div>
</div>

{% schema %}
{
    "name": "Our mission story",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },    
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "Text"
        }
    ]
}
{% endschema %}