{{ 'section-evaluates.css' | asset_url | stylesheet_tag }}
{{ 'rg-the-science-behind.css' | asset_url | stylesheet_tag }}

<div class="result science wf-section">
    <div class="white-bg scient"></div>
    <div class="div-block-190">
        <div class="container-41 w-container">
            <div class="columns-11 w-row">
                <div class="column-28 w-col w-col-6">
                    <h1 class="heading scient">The science behind how you feel<br /></h1>
                </div>
                <div class="column-27 w-col w-col-6">
                    <p class="paragraph-35">See what the scientific studies say about the various things Vessel tests for: sleep, energy, mood, and more. These studies are all available in the app as well.<br /></p>
                </div>
            </div>
            <div data-line="Calcium" class="div-block-186 calcium-vit">
                <div class="ss-link">Calcium<br /></div>
                <div class="div-block-218"></div>
            </div>
            <div data-line="creatinine" class="div-block-186 creatinine-vit">
                <div class="ss-link">Creatinine<br /></div>
                <div class="div-block-218"></div>
            </div>
            <div class="columns-13 w-row">
                <div class="column-16 w-col w-col-2 w-col-stack w-col-small-small-stack w-col-tiny-tiny-stack">
                    <div class="div-block-225 slider-tabs w-clearfix">
                        <div data-line="B7" class="div-block-186 vit-b7 active">
                            <div class="ss-link">Vitamin B7 (Biotin)<br /></div>
                            <div class="div-block-218"></div>
                        </div>
                        <div data-line="Hydration" class="div-block-186">
                            <div class="ss-link">Hydration<br /></div>
                            <div class="div-block-218"></div>
                        </div>
                        <div data-line="Cortisol" class="div-block-186">
                            <div class="ss-link">Cortisol<br /></div>
                            <div class="div-block-218"></div>
                        </div>
                        <div data-line="Ketones" class="div-block-186">
                            <div class="ss-link">Ketone A (AcAc)<br /></div>
                            <div class="div-block-218"></div>
                        </div>
                        <div data-line="pH" class="div-block-186">
                            <div class="ss-link">pH<br /></div>
                            <div class="div-block-218"></div>
                        </div>
                        <div data-line="B9" class="div-block-186">
                            <div class="ss-link">Vitamin B9 (Folate)<br /></div>
                            <div class="div-block-218"></div>
                        </div>
                        <div data-line="Vitamin C" class="div-block-186">
                            <div class="ss-link">Vitamin C<br /></div>
                            <div class="div-block-218"></div>
                        </div>
                        <div data-line="Magnesium" class="div-block-186">
                            <div class="ss-link">Magnesium<br /></div>
                            <div class="div-block-218"></div>
                        </div>
                        <div data-line="Ketones" class="div-block-186">
                            <div class="ss-link">Ketone B (BHB)<br /></div>
                            <div class="div-block-218"></div>
                        </div>
                    </div>
                </div>
                <div class="column-19 w-col w-col-6 w-col-stack w-col-small-small-stack w-col-tiny-tiny-stack">
                    <div class="div-block-227 w-clearfix">
                        <div class="div-block-186 line b7 line-active" style="opacity: 1;">
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5fb3825a64f8dd41cf91e8b2_Line.png" loading="lazy" alt="" class="image-53 vit-one" />
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5fb38266976fcc37cce8ab40_Line-sec.png" loading="lazy" alt="" class="image-54 vit-two" />
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5fb3825a64f8dd41cf91e8b2_Line.png" loading="lazy" alt="" class="image-53 vit-three" />
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5fb38266976fcc37cce8ab40_Line-sec.png" loading="lazy" alt="" class="image-54 vit-four" />
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5fb3825a64f8dd41cf91e8b2_Line.png" loading="lazy" alt="" class="image-53 vit-five" />
                            <div class="div-block-199 line-child" style="width: 0%;"></div>
                        </div>
                        <div class="div-block-186 line hydration">
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5fb3825a64f8dd41cf91e8b2_Line.png" loading="lazy" alt="" class="image-53 hydration-one" />
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5fb38266976fcc37cce8ab40_Line-sec.png" loading="lazy" alt="" class="image-54 hydration-ttwo" />
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5fb3825a64f8dd41cf91e8b2_Line.png" loading="lazy" alt="" class="image-53 hydration-three" />
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5fb38266976fcc37cce8ab40_Line-sec.png" loading="lazy" alt="" class="image-54 hydration-four" />
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5fb3825a64f8dd41cf91e8b2_Line.png" loading="lazy" alt="" class="image-53 hydration-five" />
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5fb38266976fcc37cce8ab40_Line-sec.png" loading="lazy" alt="" class="image-54 hydration-six" />
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5fb3825a64f8dd41cf91e8b2_Line.png" loading="lazy" alt="" class="image-53 hydration-sevent" />
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5fb38266976fcc37cce8ab40_Line-sec.png" loading="lazy" alt="" class="image-54 hydration-eight" />
                            <div class="div-block-199"></div>
                        </div>
                        <div class="div-block-186 line cortisol">
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5fb3825a64f8dd41cf91e8b2_Line.png" loading="lazy" alt="" class="image-53 cartisol-one" />
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5fb38266976fcc37cce8ab40_Line-sec.png" loading="lazy" alt="" class="image-54 cartisol-two" />
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5fb3825a64f8dd41cf91e8b2_Line.png" loading="lazy" alt="" class="image-53 cartisol-three" />
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5fb38266976fcc37cce8ab40_Line-sec.png" loading="lazy" alt="" class="image-54 cartisol-four" />
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5fb3825a64f8dd41cf91e8b2_Line.png" loading="lazy" alt="" class="image-53 cartisol-five" />
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5fb38266976fcc37cce8ab40_Line-sec.png" loading="lazy" alt="" class="image-54 cartisol-six" />
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5fb3825a64f8dd41cf91e8b2_Line.png" loading="lazy" alt="" class="image-53 cartisol-sevent" />
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5fb38266976fcc37cce8ab40_Line-sec.png" loading="lazy" alt="" class="image-54 cartisol-eight" />
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5fb3825a64f8dd41cf91e8b2_Line.png" loading="lazy" alt="" class="image-53 cartisol-nine" />
                            <div class="div-block-199 cortisol-cover-line"></div>
                        </div>
                        <div class="div-block-186 line ketone-a">
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5faa4917ded9d51af7ec7878_Line-1.png" loading="lazy" alt="" class="image-53 ketone-a" />
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5faa4934bf1f8c9aa9e07c02_Line-2.png" loading="lazy" alt="" class="image-54 ketone-a" />
                            <div class="div-block-199"></div>
                        </div>
                        <div class="div-block-186 line ph">
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5faa4917ded9d51af7ec7878_Line-1.png" loading="lazy" alt="" class="image-53 ph" />
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5faa4934bf1f8c9aa9e07c02_Line-2.png" loading="lazy" alt="" class="image-54 ph" />
                            <div class="div-block-199"></div>
                        </div>
                        <div class="div-block-186 line calcium">
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5faa4917ded9d51af7ec7878_Line-1.png" loading="lazy" alt="" class="image-53 calcium" />
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5faa4934bf1f8c9aa9e07c02_Line-2.png" loading="lazy" alt="" class="image-54 calcium" />
                            <div class="div-block-199"></div>
                        </div>
                        <div class="div-block-186 line vit-b">
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5faa4917ded9d51af7ec7878_Line-1.png" loading="lazy" alt="" class="image-53 vit-b" />
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5faa4934bf1f8c9aa9e07c02_Line-2.png" loading="lazy" alt="" class="image-54 vit-b" />
                            <div class="div-block-199"></div>
                        </div>
                        <div class="div-block-186 line vit-c">
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5faa4917ded9d51af7ec7878_Line-1.png" loading="lazy" alt="" class="image-53 vit-c" />
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5faa4934bf1f8c9aa9e07c02_Line-2.png" loading="lazy" alt="" class="image-54 vit-c" />
                            <div class="div-block-199"></div>
                        </div>
                        <div class="div-block-186 line magnesium">
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5faa4917ded9d51af7ec7878_Line-1.png" loading="lazy" alt="" class="image-53 magnesium" />
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5faa4934bf1f8c9aa9e07c02_Line-2.png" loading="lazy" alt="" class="image-54 magnesium" />
                            <div class="div-block-199"></div>
                        </div>
                        <div class="div-block-186 line ketone-b">
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5faa4917ded9d51af7ec7878_Line-1.png" loading="lazy" alt="" class="image-53 ketone-b" />
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5faa4934bf1f8c9aa9e07c02_Line-2.png" loading="lazy" alt="" class="image-54 ketone-b" />
                            <div class="div-block-199"></div>
                        </div>
                        <div class="div-block-186 line creatinine">
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5faa4917ded9d51af7ec7878_Line-1.png" loading="lazy" alt="" class="image-53 creatinine" />
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5faa4934bf1f8c9aa9e07c02_Line-2.png" loading="lazy" alt="" class="image-54 creatinine" />
                            <div class="div-block-199 creatinine"></div>
                        </div>
                    </div>
                    <div>
                        <div class="w-embed w-script">
                            <div class="line-way">
                                <svg class="line-wrap" style="width: 100%; height: 800px; position: relative; top: -100px; display: inline-block;">
                                    <path stroke-dasharray="10,10" d="M 0 120 q 221.76000000000002 -70 336 155" stroke="black" stroke-width="1" fill="none"></path>
                                    <path stroke-dasharray="10,10" d="M 336 275 q 147.84 235 224 205" stroke="black" stroke-width="1" fill="none"></path>
                                    <path stroke-dasharray="10,10" d="M 0 120 q 221.76000000000002 -70 336 260" stroke="black" stroke-width="1" fill="none"></path>
                                    <path stroke-dasharray="10,10" d="M 336 380 q 147.84 340 224 310" stroke="black" stroke-width="1" fill="none"></path>
                                    <path stroke-dasharray="10,10" d="M 0 120 q 221.76000000000002 -70 336 85" stroke="black" stroke-width="1" fill="none"></path>
                                    <path stroke-dasharray="10,10" d="M 336 205 q 147.84 165 224 135" stroke="black" stroke-width="1" fill="none"></path>
                                    <path stroke-dasharray="10,10" d="M 0 120 q 221.76000000000002 -70 336 50" stroke="black" stroke-width="1" fill="none"></path>
                                    <path stroke-dasharray="10,10" d="M 336 170 q 147.84 130 224 100" stroke="black" stroke-width="1" fill="none"></path>
                                    <path stroke-dasharray="10,10" d="M 0 120 q 221.76000000000002 -70 336 15" stroke="black" stroke-width="1" fill="none"></path>
                                    <path stroke-dasharray="10,10" d="M 336 135 q 147.84 95 224 65" stroke="black" stroke-width="1" fill="none"></path>
                                </svg>
                            </div>
                            <script>
                                $(document).ready(function () {
                                    var wrap = $(".column-16").offset().top;
                                    var vitTop = $(".vit-b7").offset().top;
                                    var vit = vitTop - wrap + 120;
                                    var resultTop = $(".sleep").offset().top;
                                    var result = resultTop - wrap;
                                    console.log(result);
                                    var elemHeight = $(".columns-13").height();
                                    var elemWidth = $(".column-19").width();
                                    var leftStroke = elemWidth - 200;
                                    var starCurve = elemWidth - 320;
                                    var rightStroke = elemWidth - leftStroke;
                                    var rightStokeTop = result + 100;
                                    var leftEndTop = result - 20;
                                    $(".line-wrap").css("height", elemHeight + 100);
                                });
                            </script>
                        </div>
                    </div>
                </div>
                <div class="right-result w-col w-col-4 w-col-stack w-col-small-small-stack w-col-tiny-tiny-stack">
                    <div data-vit="Focus" class="div-block-187 r-vit focus">
                        <div class="div-block-188"><div class="ss-result">Focus</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39"><span class="studies">5</span> studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 r-vit r-hydration beauty active">
                        <div class="div-block-188"><div class="ss-result">Beauty</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39"><span class="studies">8</span> studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Immunity" class="div-block-187 r-hydration r-cortisol immunity active">
                        <div class="div-block-188"><div class="ss-result">Immunity</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39"><span class="studies">3</span> studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Body" class="div-block-187 r-cortisol r-ketone-a body active">
                        <div class="div-block-188"><div class="ss-result">Body</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39"><span class="studies">6</span> studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Sleep" class="div-block-187 r-ketone-a r-ph sleep">
                        <div class="div-block-188"><div class="ss-result">Sleep</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39"><span class="studies">5</span> studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Energy" class="div-block-187 r-ph r-calcium energy active">
                        <div class="div-block-188"><div class="ss-result">Energy</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39"><span class="studies">5</span> studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Fitness" class="div-block-187 r-vit-b r-calcium fitness">
                        <div class="div-block-188"><div class="ss-result">Fitness</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39"><span class="studies">5</span> studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Calm" class="div-block-187 r-vit-c r-vit-b calm">
                        <div class="div-block-188"><div class="ss-result">Calm</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39"><span class="studies">5</span> studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Mood" class="div-block-187 r-vit-c r-magnesium r-ketone-b r-creatinine mood active">
                        <div class="div-block-188"><div class="ss-result">Mood</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39"><span class="studies">4</span> studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Digestion" class="div-block-187 r-magnesium r-ketone-b r-creatinine digestion">
                        <div class="div-block-188"><div class="ss-result">Digestion</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39"><span class="studies">5</span> studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-content scient">
                <div class="b7 line-active" style="opacity: 1;">
                    <div data-vit="Beauty" class="div-block-187 beauty active">
                        <div class="div-block-188"><div>Beauty</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 immunity active">
                        <div class="div-block-188"><div>Immunity</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 body active">
                        <div class="div-block-188"><div>Body</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 energy active">
                        <div class="div-block-188"><div>Energy</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 mood active">
                        <div class="div-block-188"><div>Mood</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                </div>
                <div class="hydration">
                    <div data-vit="Beauty" class="div-block-187 focus">
                        <div class="div-block-188"><div>Focus</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 beauty active">
                        <div class="div-block-188"><div>Beauty</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 body active">
                        <div class="div-block-188"><div>Body</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 sleep">
                        <div class="div-block-188"><div>Sleep</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 energy active">
                        <div class="div-block-188"><div>Energy</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 calm">
                        <div class="div-block-188"><div>Calm</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 mood active">
                        <div class="div-block-188"><div>Mood</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 digestion">
                        <div class="div-block-188"><div>Digestion</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                </div>
                <div class="cortisol">
                    <div data-vit="Beauty" class="div-block-187 focus">
                        <div class="div-block-188"><div>Focus</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 beauty active">
                        <div class="div-block-188"><div>Beauty</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 immunity active">
                        <div class="div-block-188"><div>Immunity</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 body active">
                        <div class="div-block-188"><div>Body</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 sleep">
                        <div class="div-block-188"><div>Sleep</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 energy active">
                        <div class="div-block-188"><div>Energy</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 calm">
                        <div class="div-block-188"><div>Calm</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 mood active">
                        <div class="div-block-188"><div>Mood</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 digestion">
                        <div class="div-block-188"><div>Digestion</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                </div>
                <div class="ketones">
                    <div data-vit="Beauty" class="div-block-187 focus">
                        <div class="div-block-188"><div>Focus</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 beauty active">
                        <div class="div-block-188"><div>Beauty</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 immunity active">
                        <div class="div-block-188"><div>Immunity</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 body active">
                        <div class="div-block-188"><div>Body</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 sleep">
                        <div class="div-block-188"><div>Sleep</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 energy active">
                        <div class="div-block-188"><div>Energy</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 calm">
                        <div class="div-block-188"><div>Calm</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 mood active">
                        <div class="div-block-188"><div>Mood</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                </div>
                <div class="ph">
                    <div data-vit="Beauty" class="div-block-187 body active">
                        <div class="div-block-188"><div>Body</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 energy active">
                        <div class="div-block-188"><div>Energy</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                </div>
                <div class="b9">
                    <div data-vit="Beauty" class="div-block-187 focus">
                        <div class="div-block-188"><div>Focus</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 beauty active">
                        <div class="div-block-188"><div>Beauty</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 immunity active">
                        <div class="div-block-188"><div>Immunity</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 sleep">
                        <div class="div-block-188"><div>Sleep</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 energy active">
                        <div class="div-block-188"><div>Energy</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 mood active">
                        <div class="div-block-188"><div>Mood</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                </div>
                <div class="vitaminc">
                    <div data-vit="Beauty" class="div-block-187 focus">
                        <div class="div-block-188"><div>Focus</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 beauty active">
                        <div class="div-block-188"><div>Beauty</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 immunity active">
                        <div class="div-block-188"><div>Immunity</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 body active">
                        <div class="div-block-188"><div>Body</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 sleep">
                        <div class="div-block-188"><div>Sleep</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 energy active">
                        <div class="div-block-188"><div>Energy</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 calm">
                        <div class="div-block-188"><div>Calm</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 mood active">
                        <div class="div-block-188"><div>Mood</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                </div>
                <div class="magnesium">
                    <div data-vit="Beauty" class="div-block-187 focus">
                        <div class="div-block-188"><div>Focus</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 beauty active">
                        <div class="div-block-188"><div>Beauty</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 immunity active">
                        <div class="div-block-188"><div>Immunity</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 body active">
                        <div class="div-block-188"><div>Body</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 sleep">
                        <div class="div-block-188"><div>Sleep</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 energy active">
                        <div class="div-block-188"><div>Energy</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 calm">
                        <div class="div-block-188"><div>Calm</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 mood active">
                        <div class="div-block-188"><div>Mood</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 digestion">
                        <div class="div-block-188"><div>Digestion</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                </div>
                <div class="ketones">
                    <div data-vit="Beauty" class="div-block-187 focus">
                        <div class="div-block-188"><div>Focus</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 beauty active">
                        <div class="div-block-188"><div>Beauty</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 immunity active">
                        <div class="div-block-188"><div>Immunity</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 body active">
                        <div class="div-block-188"><div>Body</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 sleep">
                        <div class="div-block-188"><div>Sleep</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 energy active">
                        <div class="div-block-188"><div>Energy</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 calm">
                        <div class="div-block-188"><div>Calm</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                    <div data-vit="Beauty" class="div-block-187 mood active">
                        <div class="div-block-188"><div>Mood</div></div>
                        <div class="div-block-189">
                            <div class="text-block-39">5 studies</div>
                            <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="image-49" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {% comment %}{% include 'evaluates-result' %}{% endcomment %}
    <div class="result-pop"><div class="close-bg"></div><div class="pop-wrap"><div class="clone-layout"><div class="item-result"><h3 class="result-question-heading">Healthy Immune System and Vitamin C?</h3><a href="#" class="learn-more-link w-inline-block"><div>Learn more</div></a></div></div><div class="w-row"><div class="w-col w-col-4"><h1 class="result-title">Cortisol and Body</h1><p>The scientific studies showcasing the links between <span class="p-result">cortisol and body</span>.</p></div><div class="column-20 w-col w-col-8"><div class="item-result"><h3 class="result-question-heading">Healthy Immune System and Vitamin C?</h3><a href="#" class="learn-more-link w-inline-block"><div class="text-block-40">Learn more</div></a></div></div></div></div><img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5e853eb7c71842fed7dc8092_close.png" loading="lazy" alt="" class="image-57 close-pop"></div>
    <script>
        if ($(window).width() < 767) {
            $('.slider-tabs').slick({
                infinite: true,
                slidesToShow: 3,
                centerPadding: '20px',
                focusOnSelect: true,
                centerMode: false,
                variableWidth: true,
                asNavFor: '.slider-content',
            });
            $('.slider-content').slick({
                infinite: true,
                slidesToShow: 1,
                slidesToScroll: 1,
                asNavFor: '.slider-tabs',
                fade: true,
                adaptiveHeight: true
            });
            $.ajax({
                type: 'GET',
                crossDomain: true,
                dataType: 'json',
                url: 'https://vessel-web-prod.s3-us-west-2.amazonaws.com/science-result.json',
                success: function(data) {
                    var result = data.science;
                    for (var j = 0; j < result.length; j++) {
                        var name = result[j].name;
                        var effect = result[j].result;
                        for (var i = 0; i < effect.length; i++) {
                            var info = effect[i].information;
                            var vitList = effect[i].sources;
                            if ( name == 'Vitamin C') {
                                $('.vitaminc .'+info.toLowerCase()+' .text-block-39').text(vitList.length+' studies' );
                            }
                            else {
                                $('.'+name.toLowerCase()+' .'+info.toLowerCase()+' .text-block-39').text(vitList.length+' studies' );
                            }
                        }
                    }
                },
                error: function (request,status, error) {
                    console.log(error);
                    console.log(status);
                }
            });
            $('.div-block-187').click(function(){
                var vitName = $(this).parent().attr('class');
                var resultName = $(this).children('.div-block-188').children().text();
                var vitTitle = $('.slider-tabs .slick-current .div-block-186 .ss-link').text();
                $('.result-title').text(vitTitle+' and '+resultName)
                $('.p-result').text(vitTitle+' and '+resultName);
                $.ajax({
                    type: 'GET',
                    crossDomain: true,
                    dataType: 'json',
                    url: 'https://vessel-web-prod.s3-us-west-2.amazonaws.com/science-result.json',
                    success: function(data) {
                        var result = data.science;
                        let careerHTML = '';
                        for (var j = 0; j < result.length; j++) {
                            var name = result[j].name;
                            if ( name.toLowerCase() == vitName ) {
                                var effect = result[j].result;
                                for (var i = 0; i < effect.length; i++) {
                                    var info = effect[i].information;
                                    if(info == resultName) {
                                        var vitList = effect[i].sources
                                        for (var k = 0; k < vitList.length; k++) {
                                            var sourceTitle = vitList[k].sourceTitle;
                                            var url = vitList[k].source;
                                            templateHTML = $('.clone-layout').clone()
                                            templateHTML.find('.result-question-heading').text(sourceTitle)
                                            templateHTML.find('a').attr('href',url)
                                            careerHTML += templateHTML.html();
                                        }
                                    }
                                }
                            }
                        }
                        $('.column-20').html(careerHTML)
                      //  $('.result-pop').fadeIn();
                    },
                    error: function (request,status, error) {
                        console.log(error);
                        console.log(status);
                    }
                })
            })
        }
        else {
// get json data for result section
            $('.div-block-186').click(function(){
                var thiss = $(this);
                let first =''
                $('.div-block-186').removeClass('active');
                $(this).addClass('active');
                var orline = $(this).attr('data-line');
                var line = orline.toLowerCase();
                $('.line-active').css('opacity','0%');
                $('.line-active .div-block-199').animate({
                    width: "100%"
                }, 500 );
                $('.line-active').removeClass('line-active');
                $('.'+line).addClass('line-active');
                $('.'+line).css('opacity','100%');
                $('.'+line+' .div-block-199').animate({
                    width: "0%"
                }, 500 );
                $('.div-block-187').removeClass('active');
                $.ajax({
                    type: 'GET',
                    crossDomain: true,
                    dataType: 'json',
                    url: 'https://vessel-web-prod.s3-us-west-2.amazonaws.com/science-result.json',
                    success: function(data) {
                        var result = data.science;
                        for (var j = 0; j < result.length; j++) {
                            var name = result[j].name;
                            if ( name == orline ) {
                                var effect = result[j].result;
                                for (var i = 0; i < effect.length; i++) {
                                    var info = effect[i].information;
                                    $('.'+info.toLowerCase()).addClass('active');
                                    var vitList = effect[i].sources
                                    $('.'+info.toLowerCase()+' .studies').text(vitList.length);
                                    var wrap = $('.column-16').offset().top;
                                    var resultPos = $('.'+info.toLowerCase()).offset();
                                    var vitPos = thiss.offset().top;
                                    if ( resultPos != undefined) {
                                        var resultTop = resultPos.top - wrap;
                                        var vitTop = vitPos - wrap;
                                        var elemWidth = $( '.column-19' ).width();
                                        var endofleftline = elemWidth * 0.6
                                        var endofrightline = elemWidth - endofleftline;
                                        var leftquibicstart = endofleftline * 0.66;
                                        var rightquibicstart = endofrightline * 0.66;
                                        var startLeftTop = vitTop + 120;
                                        var endLeftTop = (resultTop - vitTop) / 2 - 20;
                                        var rightLineStartTop = startLeftTop + endLeftTop;
                                        var rightLineEndTop = ((resultTop + 120) - rightLineStartTop) + 10;
                                        var rightQubicCurve = ((resultTop - vitTop) + 120 ) * 0.5;
                                        first += '<path stroke-dasharray="10,10" d="M 0 '+startLeftTop+' q '+leftquibicstart+' -70 '+endofleftline+' '+endLeftTop+'" stroke="black" stroke-width="1" fill="none"></path>';
                                        first += '<path stroke-dasharray="10,10" d="M '+endofleftline+' '+rightLineStartTop+' q '+rightquibicstart+' '+rightQubicCurve+' '+endofrightline+' '+rightLineEndTop+'" stroke="black" stroke-width="1" fill="none"></path>';
                                    }
                                }
                            }
                        }
                        $( ".line-wrap" ).animate({
                            width: '0%'
                        }, 500, function() {
                            $('.line-wrap').html(first);
                            $( ".line-wrap" ).animate({
                                width: '100%'
                            }, 500)
                        });
                    },
                    error: function (request,status, error) {
                        console.log(error);
                        console.log(status);
                    }
                })
            });
            $('.div-block-187').click(function(){
                var vit = $(this).attr('data-vit');
                if ( $(this).hasClass('active') ) {
                    var current = $('.column-16 .active').attr('data-line');
                    var currentVit = $('.column-16 .active').text();
                    $('.result-title').text(currentVit+' and '+vit)
                    $('.p-result').text(currentVit+' and '+vit)
                    $.ajax({
                        type: 'GET',
                        crossDomain: true,
                        dataType: 'json',
                        url: 'https://vessel-web-prod.s3-us-west-2.amazonaws.com/science-result.json',
                        success: function(data) {
                            var result = data.science;
                            let careerHTML = '';
                            for (var j = 0; j < result.length; j++) {
                                var name = result[j].name;
                                if ( name == current ) {
                                    var effect = result[j].result;
                                    for (var i = 0; i < effect.length; i++) {
                                        var info = effect[i].information;
                                        if(info == vit) {
                                            var vitList = effect[i].sources
                                            for (var k = 0; k < vitList.length; k++) {
                                                var sourceTitle = vitList[k].sourceTitle;
                                                var url = vitList[k].source;
                                                templateHTML = $('.clone-layout').clone()
                                                templateHTML.find('.result-question-heading').text(sourceTitle)
                                                templateHTML.find('a').attr('href',url)
                                                careerHTML += templateHTML.html();
                                            }
                                        }
                                    }
                                }
                            }
                            $('.column-20').html(careerHTML)
                       //     $('.result-pop').fadeIn();
                        },
                        error: function (request,status, error) {
                            console.log(error);
                            console.log(status);
                        }
                    })
                }
            });
        }
        $('.close-pop, .close-bg').click(function(){
        //    $('.result-pop').fadeOut();
        });
        $(window).on('load', function() {
            $('.vit-b7').trigger('click');
        });
    </script>
    <style>
        .slider-tabs .tab-link-tab-1 {
            width: auto !important;
            min-width: auto !important;
        }
        .slick-prev, .slick-next {
            display: none;
        }
        .slick-slide {
            margin-right: 20px;
        }
        .slider-content .div-block-187 {
            background-color: #c1deba;
            opacity: 1;
        }
        .slider-tabs .slick-current .div-block-186 {
            padding-right: 15px;
            padding-left: 15px;
            border-radius: 20px;
            background-color: rgba(0, 0, 0, 0.7);
            color: #fff;
            text-align: center;
        }
        .slick-current .div-block-186 .ss-link {
            color: #fff;
        }
    </style>
</div>


{% schema %}
{
  "name": "RG the science behind",
  "class": "spaced-section--full-width",
  "tag": "section",
  "settings": [
    {
      "id": "title",
      "type": "textarea",
      "label": "Heading",
      "default": "The science behind how you feel"
    },
    {
      "id": "text",
      "type": "textarea",
      "label": "Text",
      "default": "See what the scientific studies say about the various things Vessel tests for: sleep, energy, mood, and more. These studies are all available in the app as well."
    }
  ],
  "blocks": [
    {
      "type": "evaluates",
      "name": "Add Evaluate",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
       		"label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "RG the science behind ",
      "category": "RG"
    }
  ]
}
{% endschema %}