{{'vessel-health.22e6642b9.min.css' | asset_url | stylesheet_tag}}
<div class="main-section vit-ang wf-section">
    <div class="top vit-ang">
        <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7655d01e03b42510f2bde3_vessel-vit-ang.png" alt="" class="image mobile vit-ang">
        <div class="everyone-deserves-2 w-container">
            <div class="columns-10 w-row">
                <div class="column-12 w-col w-col-6">
                    <div class="div-block-79 vit-ang">
                        <div class="word-change vit-ang">
                            <h1 class="heading vit-ang">In pursuit of better <span class="white-text">health worldwide</span></h1>
                        </div>
                        <p class="paragraph vit-ang">At Vessel, we believe that everyone deserves a healthy life. To further this mission, we've partnered with Vitamin Angels to donate vitamin A and deworming to a child in need for a month for every wellness test card purchased, and we donate one years supply for every bottle of Vessel Fuel purchased.</p>
                        <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5fba07be558fb6397c6c2555_vesselxva.png" loading="lazy" width="404.5" alt="" class="image-45">
                    </div>
                </div>
                <div class="column-13 w-col w-col-6">
                    <div class="div-block-79 ab-test covid business right image">
                        <img src="https://cdn.shopify.com/s/files/1/0603/3122/9370/files/Image_17.png?v=1654546256" alt="" class="image-20 vit-ang" style="width: 100%;
                        left: 105px;top: 0;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cream-bg test-kit-access"></div>
</div>

<div class="we-reached wf-section">
    <div class="cream-bg test-kit-access second"></div>
    <div class="green-bg reached-vit-ang"></div>
    <div class="w-container">
        <div class="columns w-row">
            <div class="column-4 w-col w-col-6">
                <div class="div-block-79 our-partership">
                    <div class="word-change vit-ang">
                        <h1 class="heading vit-ang partnership">Our partnership with Vitamin Angels</h1>
                    </div>
                    <p class="paragraph vit-ang">Vitamin Angels fights for a world where every mother has a healthy pregnancy, and every child gets a chance at a healthy life.</p>
                </div>
                <div class="counter-wrap">
                    <h3>So far, we have reached</h3>
                    <h1 class="we-reached-counter">0</h1>
                    <div class="html-embed-10 w-embed w-script">
                        <script>
                            function numb() {
                                var number = 21000;
                                var $this = $('.we-reached-counter')
                                $({
                                    countNum: $this.text()
                                }).animate({
                                    countNum: number
                                    },
                                    {
                                    duration: 2000,
                                    easing: 'linear',
                                    step: function() {
                                        $this.text(commaSeparateNumber(Math.floor(this.countNum)));
                                    },
                                    complete: function() {
                                        $this.text(commaSeparateNumber(this.countNum));
                                        //alert('finished');
                                    }
                                    }
                                );
                            }
                            function commaSeparateNumber(val) {
                                while (/(\d+)(\d{3})/.test(val.toString())) {
                                    val = val.toString().replace(/(\d+)(\d{3})/, '$1' + ',' + '$2');
                                }
                                return val;
                            }
                            var started = false;
                            $(window).on('scroll',function(){
                                var scroll = $(window).scrollTop();
                                var elem = $(".we-reached-counter").offset().top;
                                var winHeight = $( window ).height();
                                var pos = elem - (winHeight / 1.25)
                                if (scroll >= pos) {
                                    if(!started) {
                                        numb();
                                    }
                                    started = true;
                                }
                            });
                        </script>

                        <style>
                            .body-ov-x {overflow-x: hidden;}
                            .w-slider-dot {width: 10px; height: 10px; border: 2px solid #4A4846; background-color: transparent !important;}
                            .w-slider-dot.w-active {background-color: #4A4846 !important;}
                        </style>
                    </div>
                    <h3>children to date!</h3>
                    <div class="white-bg counter--bg"></div>
                </div>
                <div class="columns-3 w-row">
                    <div class="w-col w-col-6">
                        <h2 class="heading covid19 business second">Our partnership with Vitamin Angels</h2>
                    </div>
                    <div class="w-col w-col-6">
                        <p class="paragraph covbiz">Vitamin Angels fights for a world where every mother has a healthy pregnancy, and every child gets a chance at a healthy life.</p>
                    </div>
                </div>
            </div>
            <div class="column-2 w-col w-col-6">
                <img src="https://cdn.shopify.com/s/files/1/0603/3122/9370/files/Image_18.png?v=1654546674" loading="lazy" alt="" class="image-44 get-give">
                <div class="div-block-174">
                    <div class="get-give">
                        <h2 class="heading give-get">Get healthy,<br>give healthy</h2>
                        <div class="div-block-143 w-clearfix">
                            <p class="paragraph">Uncover what your body really needs and help a child in need with your purchase.</p>
                            <a href="/pages/membership" class="dark-bt w-button">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="our-partner wf-section">
    <div class="our-partner-desc w-container">
        <div class="w-row">
            <div class="w-col w-col-6">
                <h2 class="heading covid19 business second">Our partnership with Vitamin Angels</h2>
            </div>
            <div class="w-col w-col-6">
                <p class="paragraph covbiz">Vitamin Angels fights for a world where every mother has a healthy pregnancy, and every child gets a chance at a healthy life.</p>
            </div>
        </div>
    </div>
    <div class="carousel-wrap w-container">
        <div data-delay="4000" data-animation="slide" class="slider-3 w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true" role="region" aria-label="carousel">
            <div class="caro-mask w-slider-mask" id="w-slider-mask-0">
                <div class="slide-2 w-slide" aria-label="1 of 2" role="group" style="transform: translateX(0px); opacity: 1;">
                    <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f769ef21bf71993525397c2_carousel-1.jpg" loading="lazy" sizes="100vw" srcset="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f769ef21bf71993525397c2_carousel-1-p-800.jpeg 800w, https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f769ef21bf71993525397c2_carousel-1.jpg 804w" alt="">
                </div>
                <div class="w-slide" aria-label="2 of 2" role="group" aria-hidden="true" style="transform: translateX(0px); opacity: 1;">
                    <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f769ef21bf71993525397c2_carousel-1.jpg" loading="lazy" sizes="100vw" srcset="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f769ef21bf71993525397c2_carousel-1-p-800.jpeg 800w, https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f769ef21bf71993525397c2_carousel-1.jpg 804w" alt="" aria-hidden="true">
                </div>
                <div aria-live="off" aria-atomic="true" class="w-slider-aria-label" data-wf-ignore=""></div>
            </div>
            <div class="left-arrow w-slider-arrow-left" role="button" tabindex="0" aria-controls="w-slider-mask-0" aria-label="previous slide">
                <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png" loading="lazy" alt="" class="carou-arrow prev">
                <a href="#" class="caro-arrow prev w-button"></a>
            </div><div class="right-arrow w-slider-arrow-right" role="button" tabindex="0" aria-controls="w-slider-mask-0" aria-label="next slide">
                <img src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f776687b22aeb05f2ab6081_next-arrow.png" loading="lazy" alt="" class="carou-arrow">
                <a href="#" class="caro-arrow next w-button"></a>
            </div>
            <div class="slide-nav w-slider-nav w-slider-nav-invert w-round">
                <div class="w-slider-dot w-active" data-wf-ignore="" aria-label="Show slide 1 of 2" aria-pressed="true" role="button" tabindex="0" style="margin-left: 3px; margin-right: 3px;"></div>
                <div class="w-slider-dot" data-wf-ignore="" aria-label="Show slide 2 of 2" aria-pressed="false" role="button" tabindex="-1" style="margin-left: 3px; margin-right: 3px;"></div>
            </div>
        </div>
    </div>
</div>

<div class="why-love wf-section">
    <div class="why-love-wrap w-container">
        <h2 class="heading vit-a">Why we love Vitamin Angels<br></h2>
        <div class="w-row">
            <div class="w-col w-col-6">
                <p class="paragraph">Vitamin Angels puts life-saving vitamins and minerals into the hands of millions of malnourished women and children worldwide. They seek out those so often overlooked: pregnant women, infants, and children who live beyond the margins. Already the most vulnerable, being difficult to reach puts them at even greater risk.</p>
            </div>
            <div class="w-col w-col-6">
                <p class="paragraph">Improving nutrition from the very start is a proven way to break the cycle of poverty and poor health that can hold families and communities in its grip for generations. Healthy mothers are more likely to have healthy newborns. Children who grow up strong can thrive in school and life. And when they do, a world of possibility emerges.</p>
            </div>
        </div>
        <div style="padding-top:56.27659574468085%" class="vit-ang-vid w-video w-embed">
            <iframe class="embedly-embed" src="//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fplayer.vimeo.com%2Fvideo%2F375481925%3Fapp_id%3D122963&amp;dntp=1&amp;display_name=Vimeo&amp;url=https%3A%2F%2Fvimeo.com%2F375481925&amp;image=https%3A%2F%2Fi.vimeocdn.com%2Fvideo%2F834266294_1280.jpg&amp;key=96f1f04c5f4143bcb0f2e68c87d65feb&amp;type=text%2Fhtml&amp;schema=vimeo" scrolling="no" title="Vimeo embed" frameborder="0" allow="autoplay; fullscreen" allowfullscreen="true"></iframe>
        </div>
    </div>
</div>

<div class="vit-a wf-section">
    <div class="container mobile-30px w-container">
        <div class="why-so">
            <h2 class="heading vit-a so">Why vitamin A is so important</h2>
        </div>
        <div class="div-block-5">
            <div class="works-block _1st">
                <img src="https://cdn.shopify.com/s/files/1/0603/3122/9370/files/Image_19.png?v=1654546857" width="290" alt="" class="image-4">
                <h4 class="heading-23">01</h4>
                <p class="paragraph how-it-works-col">Families with children in developing countries struggling with food insecurity are most at risk because purchasing or growing vitamin A-rich foods isn’t always possible.<br></p>
            </div>
            <div class="works-block _2nd">
                <img src="https://cdn.shopify.com/s/files/1/0603/3122/9370/files/Image_20.png?v=1654546857" width="290" alt="" class="image-3">
                <h4 class="heading-23">02</h4>
                <p class="paragraph how-it-works-col">Some nutrients, like vitamin A, are not produced by the body naturally. Our bodies rely on vitamin A for many purposes, all of which are essential for day-to-day activities and long-term health.<br></p>
            </div>
            <div class="works-block _3rd">
                <img src="https://cdn.shopify.com/s/files/1/0603/3122/9370/files/Image_21.png?v=1654546857" width="290" alt="" class="image-2">
                <h4 class="heading-23">03</h4>
                <p class="paragraph how-it-works-col">When a child lacks this nutrient during the early stages of development, mortality rates can increase. Deficient children may also struggle with recurring illnesses and could lose their sight.</p>
            </div>
        </div>
    </div>
</div>

<div id="benefits" class="deworm wf-section">
    <div class="cream-bg test-kit-access second"></div>
    <div class="container-19 w-container">
        <h2 class="heading vit-a">The impact of deworming<br></h2>
        <div class="div-block-81">
            <img src="https://cdn.shopify.com/s/files/1/0603/3122/9370/files/Image_22.png?v=1654547003" sizes="(max-width: 479px) 100vw, (max-width: 767px) 41vw, (max-width: 991px) 310.046875px, 423px"  alt="" class="image-27">
            <div class="div-block-82">
                <p class="paragraph-12 number">01</p>
                <div class="div-block-83">
                    <h3 class="heading-39 deworm"><strong class="bold-text">At risk of contracting parasitic worms</strong></h3>
                    <p class="paragraph">Getting dirty is part of childhood. But for children in developing countries, playing in the dirt can put them at risk of contracting parasitic worms.</p>
                </div>
            </div>
        </div>
        
        <div class="div-block-81 benefits">
            <div class="div-block-82 left deworn">
                <p class="paragraph-12 number vit-ang">02</p>
                <div class="div-block-84 deworm">
                    <h3 class="heading-39 deworm right"><strong class="bold-text">Parasitic worms cause illness</strong></h3>
                    <p class="paragraph deworm right">Parasitic worms in children can lead to malnutrition while causing pain, discomfort, and illness. Currently, 266 million children are threatened worldwide.</p>
                </div>
            </div>
            <img src="https://cdn.shopify.com/s/files/1/0603/3122/9370/files/Image_23.png?v=1654547003" sizes="(max-width: 479px) 100vw, (max-width: 767px) 41vw, (max-width: 991px) 310.046875px, 423px" alt="" class="image-27">
        </div>
        
        <div class="div-block-81">
            <img src="https://cdn.shopify.com/s/files/1/0603/3122/9370/files/Image_24.png?v=1654547003" sizes="(max-width: 479px) 100vw, (max-width: 767px) 41vw, (max-width: 991px) 310.046875px, 423px"  alt="" class="image-27">
            <div class="div-block-82">
                <p class="paragraph-12 number">03</p>
                <div class="div-block-83">
                    <h3 class="heading-39 deworm"><strong class="bold-text">Killing parasitic worms</strong></h3>
                    <p class="paragraph">To kill parasitic worms, children receive a deworming tablet, like albendazole, twice a year. To learn more about deworming, visit <a href="https://www.vitaminangels.org/" target="_blank">Vitamin Angels</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
